@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("assets/sunny-bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}


/* Search Area */
.search-bar, .weather-update-area {
    width: clamp(45rem, -5rem + 62.5vw, 70rem);

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fdf0d5;
}

.search-bar {
    height: clamp(2rem, 0rem + 2.5vw, 3rem);
}

.search-bar #location-btn, .search-bar #profile {
    font-size: clamp(1.2rem, 0.6rem + 0.75vw, 1.5rem);
}

#location-btn {
    width: clamp(2rem, -2rem + 5vw, 4rem);

    border-right: 1px solid rgba(253, 240, 213, 0.4);
    text-align: left;
    cursor: pointer;
}

.search-bar #search-field {
    font-size: 1rem;

    background: none;
    border: none;
    outline: none;
    text-align: center;
    flex: 1;
    margin-inline: 1rem;
    color: rgb(253, 240, 213);
}

#search-field::placeholder {
    color: rgba(253, 240, 213, 0.6);
}

/* Weather Update Area */
.weather-update-area {
    height: clamp(25rem, -5rem + 37.5vw, 40rem);

    display: flex;
    padding: 2.5rem;
    color: rgb(107, 77, 13);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.weather-update-area .main-content, .weather-update-area .side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-update-area .main-content h1 {
    font-size: clamp(8rem, 0rem + 10vw, 12rem);

    line-height: 0.9;
}

.weather-update-area .main-content h2 {
    font-size: clamp(2rem, -2rem + 5vw, 4rem);
}

.weather-update-area .main-content h3 {
    font-size: clamp(1.2rem, -0.8rem + 2.5vw, 2.2rem);
}

.weather-update-area .side-content {
    flex: 1;
}

.weather-update-area .side-content #weather-icon {
    width: clamp(15rem, -5rem + 25vw, 25rem);

    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.weather-update-area .side-content .side-info {
    font-size: clamp(1.2rem, -0.8rem + 2.5vw, 2.2rem);
    
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* weather forecast area */
.weather-forecast-area {
    width: clamp(45rem, -5rem + 62.5vw, 70rem);

    color: rgb(107, 77, 13);
}

.weather-forecast-area h4 {
    font-size: clamp(1.5rem, -0.5rem + 2.5vw, 2.5rem);
}

.weather-forecast-area .forecast-cards {
    height: 100%;
    width: 100%;
    padding-block: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
}

.weather-forecast-area .forecast-cards::-webkit-scrollbar{
    display: none;
}

.weather-forecast-area .forecast-cards .card {
    height: clamp(8rem, -4rem + 15vw, 14rem);
    flex: 0 0 clamp(6rem, -6rem + 15vw, 12rem);

    background-color: rgba(224, 215, 195, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.5rem;
}

.card.hidden {
    display: none;
}

.weather-forecast-area .forecast-cards .card h5 {
    font-size: clamp(1.2rem, -0.4rem + 2vw, 2rem);
}

.weather-forecast-area .forecast-cards .card img {
    width: clamp(3rem, -3rem + 7.5vw, 6rem);

    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.weather-forecast-area .forecast-cards .card p {
    font-size: clamp(1rem, 0rem + 1.25vw, 1.5rem);
}