@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("assets/sunny-bg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
}

body::-webkit-scrollbar-track {
    display: none;
}

/* Search Area */
.search-bar, .weather-update-area {
    width: clamp(45rem, -5rem + 62.5vw, 70rem);
    padding-inline: 1rem;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fdf0d5;
}

.search-bar {
    height: clamp(2rem, 0rem + 2.5vw, 3rem);
}

#profile {
    font-size: clamp(1.2rem, 0.6rem + 0.75vw, 1.5rem);
}

#location-btn {
    width: clamp(2rem, -2rem + 5vw, 4rem);

    border-right: 1px solid rgba(253, 240, 213, 0.4);
    text-align: left;
    cursor: pointer;
}

#search-field {
    font-size: 1rem;

    background: none;
    border: none;
    outline: none;
    text-align: center;
    flex: 1;
    margin-inline: 1rem;
    color: rgb(253, 240, 213);
}

#search-field::placeholder {
    color: rgba(253, 240, 213, 0.6);
}

/* Weather Update Area */
.weather-update-area {
    height: clamp(25rem, -5rem + 37.5vw, 40rem);

    display: flex;
    padding: 2.5rem;
    color: rgb(107, 77, 13);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main-content, .side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content h1 {
    font-size: clamp(8rem, 0rem + 10vw, 12rem);

    line-height: 0.9;
}

.main-content h2 {
    font-size: clamp(2rem, -2rem + 5vw, 4rem);
}

.main-content h3 {
    font-size: clamp(1.2rem, -0.8rem + 2.5vw, 2.2rem);
}

.side-content {
    flex: 1;
}

#weather-icon {
    width: clamp(15rem, -5rem + 25vw, 25rem);

    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.side-info {
    font-size: clamp(1.2rem, -0.8rem + 2.5vw, 2.2rem);
    
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* Weather Forecast Area */
.weather-forecast-area {
    width: clamp(45rem, -5rem + 62.5vw, 70rem);

    color: rgb(107, 77, 13);
}

.weather-forecast-area h4 {
    font-size: clamp(1.5rem, -0.5rem + 2.5vw, 2.5rem);
}

.forecast-cards {
    height: 100%;
    width: 100%;
    padding-block: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
}

.card {
    height: clamp(8rem, -4rem + 15vw, 14rem);
    flex: 0 0 clamp(6rem, -6rem + 15vw, 12rem);

    background-color: rgba(224, 215, 195, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.5rem;
}

.card.hidden {
    display: none;
}

.card h5 {
    font-size: clamp(1.2rem, -0.4rem + 2vw, 2rem);
}

.card img {
    width: clamp(3rem, -3rem + 7.5vw, 6rem);

    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.card p {
    font-size: clamp(1rem, 0rem + 1.25vw, 1.5rem);
}

@media(max-width: 767px){
    /* Search Area */
    .search-bar, .weather-update-area{
        width: clamp(18rem, 6.812rem + 47.735vw, 45rem);
    }

    .search-bar {
        height: clamp(2rem, 0rem + 2.5vw, 3rem);
        padding-inline: 0.8rem;
    }

    #location-btn, #profile {
        font-size: clamp(1rem, 0.917rem + 0.354vw, 1.2rem);
    }

    #search-field {
        font-size: clamp(0.8rem, 0.717rem + 0.354vw, 1rem);
    }

    /* Weather Update Area */
    .weather-update-area {
        height: clamp(22rem, 20.757rem + 5.304vw, 25rem);
        flex-direction: column;
        gap: 0;
    }

    .main-content h1 {
        font-size: clamp(4rem, 2.343rem + 7.072vw, 8rem);
    }

    .main-content h2 {
        font-size: clamp(1.8rem, 1.717rem + 0.354vw, 2rem);
    }

    .main-content h3, .side-info {
        font-size: clamp(1rem, 0.917rem + 0.354vw, 1.2rem);
    }

    #weather-icon {
        width: clamp(7.5rem, 4.392rem + 13.26vw, 15rem);
    }

    /* Weather Forecast Area */
    .weather-forecast-area {
        width: clamp(18rem, 6.812rem + 47.735vw, 45rem);
    }
}